

.container-width{
    max-width: 960px;
   
}
div ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    
    vertical-align: middle;
    margin-top: 18px;
}
.logo-image{
    margin-top: 10px;
    padding-bottom: 10px;
}
.div ul{
    vertical-align: middle;
}
.angle-down{
    font-size: 26px;
    position: absolute;
}






.banner-section{
    background: url(image/banner-image.png);
    padding-top: 450px;
    padding-bottom: 450px;
    z-index: -1;
}

.design{
    box-shadow: 0px 10px 10px 5px #dddddd;
}
.card1{
    border-right: 2px solid #dddddd;
    padding: 70px 20px;
    margin-top: -100px;
    z-index: 99999 !important;
    background-color: #ffffff;
    
}
.card2{
    border-right: 2px solid #dddddd;
    padding: 70px 20px;
    margin-top: -100px;
    z-index: 99999 !important;
    background-color: #ffffff; 
    z-index: 999999;
}
.card3{
    
    padding: 70px 20px;
    margin-top: -100px;
    z-index: 99999 !important;
    background-color: #ffffff; 
    z-index: -1;
}
.traning-titlle{
    font-size: 13px;
    font-family: RobotoCondensed;
    margin-left: -30px;
}
.fitness-image{
    margin-left: 30px;
}
.more-btn{
    background-color: #ffffff;
    border: none;
    margin-left: -10px;
    margin-top: 15px;
    text-transform: uppercase;
    color: red;
}
.about-section-design{
    margin-top: 60px;
    margin-bottom: 60px;
}
.description{
    font-size: 20px;
    font-family: RobotoCondensed;
    text-transform: capitalize;
}
.minutes{
    font-size: 26px;
    font-family: RobotoCondensed;
    margin-top: 40px;
    color: red;
}








.youtybe-section{
    margin-bottom: 170px;
}
.youtub-banner-design1{
    width: 550px;
    height: 400px;
    background-color: red;
}
.youtub-banner-design2{
    width: 960px;
    height: 600px;
    background-color: black;
    
    margin-top: -370px;
    margin-left: 23px;
    align-items: center;
}
.youtube-middle-logo{
    text-align: center;
}
.bottom-text{
    text-align: right;
   
}








.discover{
    background-color: red;
    margin-top: 70px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.discover-description{
    font-size: 30px;
    font-family: RobotoCondensed;
    color: #ffffff;
    text-align: center;
}

.get-started{
    background-color: #ffffff;
    color: red;
    font-size: 30px;
    font-family: RobotoCondensed;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
}
.btn{
    width: 100%;
    text-align: center;
}






.round-image{
    align-items: center;
    margin-bottom: 40px;
}
.work-description{
    font-size: 20px;
    text-transform: capitalize;
}
.icon-design{
    border: 2px solid #dddddd;
    padding: 10px 12px;
    font-size: 24px;
    border-radius: 100%;
    margin-top: 10px;
}
.icon-description{
    font-size: 22px;
    font-family: RobotoCondensed;
    text-transform: capitalize;
    margin-top: 10px;
}
.row-design{
    margin-top: 40px;
}
.design{
    color: #525050;
    
}





.fitness-section{
    background-color: red;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
}
.fitness-text{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    padding: 0px 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: -2px;
}
.fitness-within{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 70px;
}
.tab-design{
    box-shadow: 1px 1px 15px 2px #960606;
    margin-bottom: 70px;
}
.tab1{
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.tab2{
    text-align: center;
    padding: 20px 30px;
    font-size: 30px;
    color: #050505;
    font-weight: bold;
}
.tab3{
    text-align: center;
    padding: 20px 30px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
.border-design{
    border-right: 1px solid #525050;
    
}
.fitness-area{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
}






.experience1{
    margin-top: 150px;
    margin-bottom: 150px;
}




.experience2{
    background-color: #050505;
    
    padding-top: 150px;
    padding-bottom: 150px;
}
.protien2{
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
}
.protien-description{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
}
strong{
    color: red;
}
.protien-description2{
    font-size: 18px;
    
    text-transform: capitalize;
}
.protien1{
    font-size: 35px;
    font-weight: 700;
}








.product-section{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f5f5f5;
}
.product-heading{
    font-size: 80px;
    color: #050505;
    font-weight: bold;
    text-align: center;
}
.products-description{
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    color: #050505;
}







.blank-design{
    height: 170px;
    box-shadow: 1px 1px 10px 2px #dddddd;
}
.blank-design1{
    height: 170px;
    
    background-color: red;
}




.formula-section{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: red;
}
.formula-text-icon{
    border: 2px solid #ffffff;
    padding: 10px 12px;
    font-size: 20px;
    border-radius: 100%;
    display: inline-block;
    color: #ffffff;
}
.formula-text{
    color: #ffffff;
    text-align: right;
    text-transform: capitalize;
}
.formula-text-icon1{
    border: 2px solid #ffffff;
    padding: 10px 12px;
    font-size: 20px;
    border-radius: 100%;
    display: inline-block;
    color: #ffffff;
    text-align: right;
}
.icon-icon{
    text-align: right;
}
.formula-text2{
    color: #ffffff;
    text-transform: capitalize;
}
.formula-row{
    margin-bottom: 40px;
}





.step3-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.step-one-image{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #050505;
    text-align: center;
    display: inline-block;
}
.step-heading{
    font-size: 80px;
    color: #050505;
    font-weight: bold;
    text-align: center;
}
.step-heading2{
    font-size: 80px;
    color: red;
    font-weight: bold;
    text-align: center;
}
.step-description{
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 120px;
}
.step-one-heading{
    font-size: 40PX;
    text-align: center;
    margin-top: 30PX;
}
.blank-div{
    text-align: center;
}
.step-one-description{
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}






.shape{
    padding-top: 100PX;
    padding-bottom: 100PX;
    background-color: RED;
}
.shape-now{
    font-size: 90PX;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30PX;
}
.free{
    text-align: center;
    font-size: 18PX;
    text-transform: capitalize;
    color: #ffffff;
}
.getstart{
    font-size: 40PX;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    margin-top: 60PX;
}





.footer-section ul{
    text-align: center;
    margin-top: 20px;
}
.copyright{
    text-align: center;
    margin-bottom: 20px;
}